a:hover {
    text-decoration: underline black;
}


/* animacija */

.slike_galerija:hover {
    -webkit-animation-name: shake;
     animation-name: shake;
}

@-webkit-keyframes slike_galerija {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes slike_galerija {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

/* animacija kraj */

.slike_galerija {
    max-height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    max-height: 200px;
}

#red_pozadina {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.naslov_galerije {
    text-align: center;
    color: black;
    margin-top: -30px;
    font-size: 25px;
    font-weight: bold;
}

.kratki_tekst_galerije {
    margin-top: 75px;
    margin-right: 50px;
}

.medja {
    height: 1px;
    background-color: black;
    margin-left: 5vw;
    margin-right: 5vw;
}

#poslednja_medja {
    margin-bottom: 20px;
}

#naslov_stranice {
    text-align: center;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dugme {
    letter-spacing: 1px;
    background-color: transparent;
    color: black;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    font-weight: bold;
    margin-left: 15vw;
    margin-top: 20px;  
}

.dugme:hover {
    background-color: black;
}

.modal-title {
    font-weight: bold;
    font-size: 20px;
}

/* modal */

.modal1 {
    border-radius: 0px;
}

.modal11 {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
/* modal zavrsetak */

@media (min-width: 1440px) {
    .modal11 {
        width: 1140px;
        margin-left: 385px;
    }
}

@media (min-width: 411px) and (max-width: 767px) {
    .kratki_tekst_galerije {
        text-align: center;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .dugme {
        margin-left: 33vw;
        width: 30vw;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

@media (min-width: 320px) and (max-width: 410px) {
    .kratki_tekst_galerije {
        text-align: center;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .dugme {
        margin-left: 17vw;
        width: 60vw;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .medja {
    margin-right: 8vw;
    margin-left: 1vw;
}
}