.medja {
    height: 1px;
    background-color: black;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    margin-bottom: 30px;
}

a:hover {
    text-decoration: none;
}


/* animacija */
.container_for_portfolio:hover {
     -webkit-animation-name: jello;
     animation-name: jello;
     -webkit-transform-origin: center;
     transform-origin: center;
}

@-webkit-keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

/* animacija zavrsetak */




/*.container_for_portfolio {
    background-size: 100% 100%;
    height: 20vw;
    width: auto;
    margin-bottom: 75px;
    margin-left: 9vw;
    margin-right: 10vw;
}*/
.margina {
    margin-bottom: 100px;
}

.portfolio_tekst {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 45px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
}

.container_for_portfolio {
    background-size: 100% 100%;
    height: 260px;
    width: 410px;
    margin-bottom: 120px;
    margin-left: 110px;

    
}

#pocetna_slika {
    height: 800px;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

#podloga_slike1 {
    height: 6px;
    background-color: #0d1a00; 
}

.glavni_tekst {
    text-align: center;
    color: white;
    margin-top: 270px;
    font-size: 25px;
    font-weight: bold;
}

#glavni_tekst1 {
    font-size: 35px; 
}

#pozadina_portfolio {
    background-size: 100% 100%;
}

.moj_portfolio {
    text-align: center; 
    font-size: 25px ;
    font-weight: bold; 
    height: 150px;
    padding-top: 50px;
}


@media (min-width: 411px) and (max-width: 767px) {

.portfolio_tekst {
    font-size: 25px;
}


.glavni_tekst {
    font-size: 3vw;
    margin-top: 35vw;
    margin-left: 140px;
}
    
#glavni_tekst1 {
    font-size: 4vw;
}


#pocetna_slika {
    height: 60vw; 
}

.container_for_portfolio {
    background-size: 100% 100%;
    height: 35vw;
    width: auto;
    margin-bottom: 120px;
    margin-left: 20vw;
    margin-right: 20vw;
}
}

@media (min-width: 320px) and (max-width: 410px) {
.glavni_tekst,#glavni_tekst1 {
    font-size: 12px;
    margin-top: 35vw;
    margin-left: 100px;
}

.portfolio_tekst {
    font-size: 19px;
}
.container_for_portfolio {
    background-size: 100% 100%;
    height: 33vw;
    width: auto;
    margin-bottom: 75px;
    margin-left: 20vw;
    margin-right: 20vw;
}
    
#pocetna_slika {
    height: 58vw; 
}

}

@media (min-width: 768px) and (max-width: 959px) {
    .portfolio_tekst {
        font-size: 22px;
    }
    
    .glavni_tekst {
        margin-top: 260px;
    }
    .slika2 {
    max-width: 25vw;
    margin-left: 9vw;
} 

#pocetna_slika {
    height: 60vw; 
}

.container_for_portfolio {
    background-size: 100% 100%;
    height: 19vw;
    width: auto;
    margin-bottom: 75px;
    margin-left: 9vw;
    margin-right: 10vw;
}
}

@media (min-width: 960px) and (max-width: 1279px) {

#pocetna_slika {
    height: 60vw; 
}

.container_for_portfolio {
    background-size: 100% 100%;
    height: 19vw;
    width: auto;
    margin-bottom: 75px;
    margin-left: 10vw;
    margin-right: 10vw;
}

@media (min-width: 1280px) and (max-width: 1439px) {
#pocetna_slika {
    height: 500px; 
}
.container_for_portfolio {
    background-size: 100% 100%;
    height: 20vw;
    width: auto;
    margin-bottom: 75px;
    margin-left: 9vw;
    margin-right: 10vw;
}

.portfolio_tekst {
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
}

.portfolio_tekst {
    font-size: 45px;
}

.medja {
    margin-right: 100px;
    margin-right: 100px;
}

@media (min-width: 1440px) {
    #pocetna_slika {
        background-size: 100% 100%;
        height: 2000px;
        width: 1440px;
}   

.portfolio_tekst {
    font-size: 45px;
}

.medja {
    padding-right: 100px;
    padding-right: 100px;
}


}
