{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

<head>
    <title>{% block title_kontakt %}kontakt{% endblock %}</title>
    {% block kontakt_css %}<link rel="stylesheet" href="{% static 'css/kontakt.css' %}">{% endblock %}
</head>
<body>
{% block kontakt %}
    <div class="row" id="row1" style="background-image: url({% static 'img/grey_concrete.jpg' %});">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="naslov_kontakt">Kontakt informacije</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 medja"></div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul id="lista">
                <li class="redovi animated rotateIn">Adresa: Zidarska 4, Beograd</li>
                <li class="redovi animated slideInLeft">Tel: 011 288 9499</li>
                <li class="redovi animated slideInRight">Mobilni tel: 064 322 8994</li>
                <li class="redovi animated rollIn">Email: natasha.ivanich@gmail.com</li>
                <li class="redovi animated zoomInDown" id="donji_red">Facebook: <a href="https://www.facebook.com/natasa.ivanic">Nataša Ivanić</a></li>
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 medja" id="donja_medja"></div>
    </div>
{% endblock %}

</body>
</html>